<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>InstaHam</title>
    <script src="static/js/functions.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/blog-home.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <a class="navbar-brand" href="index.html">InstaHam</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="DM_page.html">My Friends</a>
        </li>
        <li class="nav-item navbar-right">
            <a class="nav-link" href="index.html">The Wrold</a>
        </li>
        <li class="nav-item navbar-right">
            <a class="nav-link" href="Register.html">Register</a>
        </li>
        <li class="nav-item navbar-right">
            <a class="nav-link" href="Login.html">Log in</a>
        </li>
    </ul>
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="my-4">312 BBS
                <small>Welcome!</small>
            </h1>
            {% for files in folder %}
            <div class="card-body">
                <h2 class="card-title">Post Title</h2>
                <image class="card-image top"
                       src="{{ files.name }}"
                       alt="Card image cap"
                       width="400">
                </image>
                </br>
                <form action="/like-path" method="post" enctype="multipart/form-data">
                    {%csrf_token%}
                    <input type="submit" class="btn btn-primary" name='{{files.name}}' value="+{{files.like}} Like">
                </form>
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#comment{{ forloop.counter }}">
                    Comment
                </button>
                <div>
                    <div class="modal fade" id="comment{{ forloop.counter }}" tabindex="-1" role="dialog"
                         aria-labelledby="commenthist{{ forloop.counter }}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="commenthist{{ forloop.counter }}">Comment history</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {% for line in files.screenshots_as_list %}
                                    {{ line }} </br>
                                    {% endfor %}
                                </div>
                                <form action="/comment-path" method="post" enctype="multipart/form-data">
                                    {%csrf_token%}
                                    <label for="form-name"><span style="color: white; ">Comment: </span></label><br/>
                                    <input id="form-name" type="text" name='{{files.name}}'><br/>
                                    <input type="submit" class="btn btn-primary" value="Submit">
                                </form>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    Posted on January 1, 2017 by
                    <a href="#">Cortana</a>
                </div>
            </div>
            {% endfor %}

            {% for messages in wordfolder %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Post Title</h2>
                    <p class="card-text">{{ messages.message }}</p>
                </div>
                <form action="/textlike-path" method="post" enctype="multipart/form-data">
                    {%csrf_token%}
                    <input type="submit" class="btn btn-primary" name='{{messages.word_id}}'
                           value="+{{messages.like}} Like">
                </form>
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#textcomment{{ forloop.counter }}">
                    Comment
                </button>
                <div>
                    <div class="modal fade" id="textcomment{{ forloop.counter }}" tabindex="-1" role="dialog"
                         aria-labelledby="textcommenthist{{ forloop.counter }}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="textcommenthist{{ forloop.counter }}">Comment
                                        history</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {% for line in messages.screenshots_as_list %}
                                    {{ line }} </br>
                                    {% endfor %}
                                </div>
                                <form action="/textcomment-path" method="post" enctype="multipart/form-data">
                                    {%csrf_token%}
                                    <label for="form-name"><span style="color: white; ">Comment: </span></label><br/>
                                    <input id="form-name2" type="text" name='{{messages.message}}'><br/>
                                    <input type="submit" class="btn btn-primary" value="Submit">
                                </form>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card-footer text-muted">
                    Posted on {{ messages.datetime }} by
                    <a href="#">Jack</a>
                </div>
            </div>
            {% endfor %}

            <!--
                      <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
            -->

            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
                <li class="page-item disabled">
                    <a class="page-link" href="#">&larr; Previous</a>
                </li>
                <li class="page-item ">
                    <a class="page-link" href="#">Next &rarr;</a>
                </li>
            </ul>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
                    </div>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Files uploaded</h5>
                <div class="card-body">
                    {% for file in filefolder %}
                    <h2 class="card-title">Post Title</h2>
                    <p>File uploaded at: <a href="{{file.name}}">{{ file.name }}</a></p>
                    </br>
                    <form action="/filelike-path" method="post" enctype="multipart/form-data">
                        {%csrf_token%}
                        <input type="submit" class="btn btn-primary" name='{{file.name}}' value="+{{file.like}} Like">
                    </form>
                    <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#filecomment{{ forloop.counter }}">
                        Comment
                    </button>
                    <div>
                        <div class="modal fade" id="filecomment{{ forloop.counter }}" tabindex="-1" role="dialog"
                             aria-labelledby="filecommenthist{{ forloop.counter }}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="filecommenthist{{ forloop.counter }}">Comment
                                            history</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% for line in file.screenshots_as_list %}
                                        {{ line }} </br>
                                        {% endfor %}
                                    </div>
                                    <form action="/filecomment-path" method="post" enctype="multipart/form-data">
                                        {%csrf_token%}
                                        <label for="form-name"><span
                                                style="color: white; ">Comment: </span></label><br/>
                                        <input id="form-name3" type="text" name='{{file.name}}'><br/>
                                        <input type="submit" class="btn btn-primary" value="Submit">
                                    </form>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on January 1, 2017 by
                        <a href="#">Cortana</a>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Upload</h5>

                <div class="card-body">
                    <!--  <button type="button" class="btn btn-primary" onclick="window.location.href = 'static/html/imageUploadModal.html';">Post</button> -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        Post
                    </button>
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Upload an image</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div class="container">
                                        <!-- Word -->
                                        <form action="/word-upload" method="post" enctype="multipart/form-data">
                                            {%csrf_token%}
                                            <label for="form-file1">Message: </label>
                                            <input id="form-file1" type="text" class="btn btn-primary" name="message"
                                                   maxlength='150'>
                                            <input type="submit" class="btn btn-primary" value="Send">
                                        </form>
                                        </br>
                                        <!-- image -->
                                        <form action="/file-upload" method="post" enctype="multipart/form-data">
                                            {%csrf_token%}
                                            <label for="form-file">Img: </label>
                                            <input id="form-file" type="file" class="btn btn-primary" name="upload">
                                            <input type="submit" class="btn btn-primary" value="Submit">
                                        </form>
                                        <form action="/files-upload" method="post" enctype="multipart/form-data">
                                            {%csrf_token%}
                                            <label for="form-files">File: </label>
                                            <input id="form-files" type="file" class="btn btn-primary" name="uploaded">
                                            <input type="submit" class="btn btn-primary" value="Submit">
                                        </form>
                                    </div>
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
{% block js %} {% endblock %}

</body>

</html>
